.container{
    background-color: #130707;
    border-radius: 25pxg;
    padding: 25px;
    height: 600px;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-wrap: nowrap; -баштапкы абалы */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    /* align-items: center;
    align-items: end;
    align-items: flex-start; */
    /* align-items: first baseline; */
    /* align-items: flex-end; */
    
}
.box{
    background-color: coral;
    padding: 60px 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    width: 250px;
} 
/* #box2{
    background-color: #096056;
    padding: 60px 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    width: 250px;
}
/* #box3{
    background-color: #14540a;
    padding: 60px 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    width: 250px;
} */ 
/* #box4{
    background-color: #ce3062;
    padding: 60px 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    width: 250px;
} */

